In [ ]:
df.sort_values(
    by = [],
    axis = 0, 
    ascending = True, 
    inplace = False, 
    kind = 'quicksort', 
    na_position = 'last', 
    ignore_index = False, 
    key = None
)

In [1]:
# Loading a Sample Pandas DataFrame
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/subaash1112/Assured-Data-Science-FS/data/sales.csv', parse_dates=['date'])

print(df.head())

        date  gender      region  sales
0 2022-08-22    Male  North-West  20381
1 2022-03-05    Male  North-East  14495
2 2022-02-09    Male  North-East  13510
3 2022-06-22    Male  North-East  15983
4 2022-08-10  Female  North-West  15007

In [ ]:
# Sort a Pandas DataFrame by a Single Column
sorted = df.sort_values(by='sales')
print(sorted.head())

          date  gender      region  sales
251 2022-10-20    Male  North-West   6084
346 2022-05-06  Female  North-West   6403
489 2022-07-01  Female  North-West   6824
463 2022-09-12  Female  North-West   7432
890 2022-10-02    Male  North-West   7633

In [ ]:
# Sort a Pandas DataFrame by Multiple Column
sorted = df.sort_values(by=['region', 'sales'])
print(sorted.head())

          date  gender      region  sales
850 2022-07-26  Female  North-East  11664
770 2022-05-27    Male  North-East  12009
434 2022-11-28  Female  North-East  12353
76  2022-11-14  Female  North-East  12404
478 2022-09-12  Female  North-East  12709

In [ ]:
# Sorting Values in Descending Order in Pandas
sorted = df.sort_values(by='sales', ascending=False)
print(sorted.head())

          date  gender region  sales
61  2022-02-22  Female  South  43775
673 2022-04-19    Male  South  37878
111 2022-10-31  Female  South  36444
892 2022-09-05    Male  South  35723
136 2022-02-27    Male  South  35485

In [ ]:
# Changing the Sort Order of Multiple Columns
sorted = df.sort_values(
    by=['region', 'sales'],
    ascending=[False, True]
)
print(sorted.head())

          date  gender region  sales
739 2022-02-28    Male  South  10768
460 2022-11-15    Male  South  11567
616 2022-11-18  Female  South  12940
462 2022-09-28    Male  South  13055
213 2022-01-25    Male  South  13230

In [ ]:
# Adding Missing Values to Our DataFrame
df.loc[10:20, 'sales'] = None

In [ ]:
# Understanding Sort Order of Missing Data
sorted = df.sort_values(
    by='sales',
)
print(sorted)

          date  gender      region   sales
251 2022-10-20    Male  North-West  6084.0
346 2022-05-06  Female  North-West  6403.0
489 2022-07-01  Female  North-West  6824.0
463 2022-09-12  Female  North-West  7432.0
890 2022-10-02    Male  North-West  7633.0
..         ...     ...         ...     ...
16  2022-04-18    Male  North-West     NaN
17  2022-07-30  Female  North-West     NaN
18  2022-02-03    Male  North-East     NaN
19  2022-01-15    Male  North-East     NaN
20  2022-01-21  Female       South     NaN

[1000 rows x 4 columns]

In [ ]:
# Changing Sort Order of Missing Data
sorted = df.sort_values(
    by='sales',
    na_position='first'
)

print(sorted)

          date  gender      region    sales
10  2022-12-21    Male       South      NaN
11  2022-04-30  Female  North-West      NaN
12  2022-11-25  Female  North-East      NaN
13  2022-08-14  Female  North-East      NaN
14  2022-02-24  Female  North-East      NaN
..         ...     ...         ...      ...
136 2022-02-27    Male       South  35485.0
892 2022-09-05    Male       South  35723.0
111 2022-10-31  Female       South  36444.0
673 2022-04-19    Male       South  37878.0
61  2022-02-22  Female       South  43775.0

[1000 rows x 4 columns]

In [ ]:
# Ignoring an Index when Sorting
sorted = df.sort_values(
    by='sales',
    ignore_index=True
)

print(sorted.head())

        date  gender      region   sales
0 2022-10-20    Male  North-West  6084.0
1 2022-05-06  Female  North-West  6403.0
2 2022-07-01  Female  North-West  6824.0
3 2022-09-12  Female  North-West  7432.0
4 2022-10-02    Male  North-West  7633.0

In [ ]:
# Sorting a DataFrame in place
df.sort_values(
    by='sales',
    inplace=True
)

print(df.head())

          date  gender      region   sales
251 2022-10-20    Male  North-West  6084.0
346 2022-05-06  Female  North-West  6403.0
489 2022-07-01  Female  North-West  6824.0
463 2022-09-12  Female  North-West  7432.0
890 2022-10-02    Male  North-West  7633.0

Question 1

In [13]:
df.sort_values(by=['gender', 'region'], ascending=[False, False])

          date  gender      region    sales
739 2022-02-28    Male       South  10768.0
460 2022-11-15    Male       South  11567.0
462 2022-09-28    Male       South  13055.0
213 2022-01-25    Male       South  13230.0
534 2022-07-15    Male       South  14296.0
..         ...     ...         ...      ...
407 2022-12-10  Female  North-East  22545.0
12  2022-11-25  Female  North-East      NaN
13  2022-08-14  Female  North-East      NaN
14  2022-02-24  Female  North-East      NaN
15  2022-08-03  Female  North-East      NaN

[1000 rows x 4 columns]

Question 2

A ValueError would be raised since the two arrays are of different lengths.

In [ ]:
df.sort_values(
    by=['region','gender'],
    ascending = [True,True, False])

ValueError: ignored

Question 3

You could combine .sort_values() with .iloc:

In [14]:
print(
    df.sort_values(
        by='sales',         # Sort by Sales
        ascending=False     # Sort in descending order
    ).iloc[1, 3])           # Access the second item in the fourth column

37878.0