In [1]:
import pandas as pd

In [9]:
# Loading our Pandas DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/subaash1112/Assured-Data-Science-FS/data/sales.csv")

In [10]:
print(df.date)

0       8/22/2022
1        3/5/2022
2        2/9/2022
3       6/22/2022
4       8/10/2022
          ...
995      6/2/2022
996     5/20/2022
997      4/2/2022
998     12/7/2022
999    12/19/2022
Name: date, Length: 1000, dtype: object

In [11]:
# Accesing the 'date' column in a Pandas Dataframe
print(type(df.date))

<class 'pandas.core.series.Series'>

In [12]:
# Selecting a column with square brackets
print(df['gender'])

0        Male
1        Male
2        Male
3        Male
4      Female
        ...
995    Female
996    Female
997      Male
998      Male
999    Female
Name: gender, Length: 1000, dtype: object

In [13]:
## Selecting multiple columns in a Pandas DataFrame
print(df[['gender', 'region']])

     gender      region
0      Male  North-West
1      Male  North-East
2      Male  North-East
3      Male  North-East
4    Female  North-West
..      ...         ...
995  Female  North-West
996  Female  North-East
997    Male  North-East
998    Male  North-East
999  Female  North-West

[1000 rows x 2 columns]

In [14]:
# Accessing the first row in a Pandas dataframe
print(df.loc[0,:])

date       8/22/2022
gender          Male
region    North-West
sales          20381
Name: 0, dtype: object

In [15]:
# Accessing a value in Pandas
print(df.iloc[0,:])

date       8/22/2022
gender          Male
region    North-West
sales          20381
Name: 0, dtype: object

In [16]:
# Accessing a value in Pandas
print(df.loc[0, 'sales'])

20381

In [17]:
# Accessing the last value for sales
print(df.iloc[-1, 3])

16589

In [18]:
# Applying a condition to a dataframe column
print(df['region'] == 'North-West')

0       True
1      False
2      False
3      False
4       True
       ...
995     True
996    False
997    False
998    False
999     True
Name: region, Length: 1000, dtype: bool

In [19]:
print(df[df['region']=='North-West'])

           date  gender      region  sales
0     8/22/2022    Male  North-West  20381
4     8/10/2022  Female  North-West  15007
7      7/8/2022    Male  North-West  13650
11    4/30/2022  Female  North-West  19631
16    4/18/2022    Male  North-West  17397
..          ...     ...         ...    ...
988   7/10/2022    Male  North-West  12500
989  10/14/2022  Female  North-West  15319
993   6/11/2022    Male  North-West  14942
995    6/2/2022  Female  North-West  14015
999  12/19/2022  Female  North-West  16589

[322 rows x 4 columns]

In [20]:
# Combining conditions when selecting data
print(df[(df['region'] == 'North-West') & (df['sales'] > 15000)])

           date  gender      region  sales
0     8/22/2022    Male  North-West  20381
4     8/10/2022  Female  North-West  15007
11    4/30/2022  Female  North-West  19631
16    4/18/2022    Male  North-West  17397
17    7/30/2022  Female  North-West  16668
..          ...     ...         ...    ...
974    5/6/2022  Female  North-West  15112
983  11/21/2022    Male  North-West  17904
987    2/7/2022    Male  North-West  16905
989  10/14/2022  Female  North-West  15319
999  12/19/2022  Female  North-West  16589

[175 rows x 4 columns]

In [21]:
# Assign a Value to an Entire Column
df['country'] = 'USA'
print(df.head(3))

        date gender      region  sales country
0  8/22/2022   Male  North-West  20381     USA
1   3/5/2022   Male  North-East  14495     USA
2   2/9/2022   Male  North-East  13510     USA

In [22]:
# Changing a cell's value
df.iloc[0,1] = 'Female'
print(df.head(3))

        date  gender      region  sales country
0  8/22/2022  Female  North-West  20381     USA
1   3/5/2022    Male  North-East  14495     USA
2   2/9/2022    Male  North-East  13510     USA