In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/subaash1112/Assured-Data-Science-FS/data/sales.csv')
print(df.head())

        date  gender      region  sales
0  8/22/2022    Male  North-West  20381
1   3/5/2022    Male  North-East  14495
2   2/9/2022    Male  North-East  13510
3  6/22/2022    Male  North-East  15983
4  8/10/2022  Female  North-West  15007

In [4]:
# Calculate the average for a single column
print(df['sales'].mean())

19044.489

In [5]:
# Calculate the average for an entire dataframe
print(df.mean(numeric_only=True))

sales    19044.489
dtype: float64

In [6]:
# Calculating the standard deviation for an entire dataframe
print(df.std(numeric_only=True))

sales    5484.674161
dtype: float64

In [7]:
# Calculating skewness using .skew()
print(df.skew(numeric_only=True))

sales    0.827105
dtype: float64

Since you’re hoping to add up all the values in a given column or across the entire DataFrame, we know that we’re hoping to calculate the sum. When we search for sum, a number of different items are returned, including the pandas.DataFrame.sum page. Here, we can see that we can simply apply the method to either the DataFrame or to the column.

In [ ]:
print(df['sales'].sum())

In [8]:
# Using the Pandas .describe() method
print(df.describe())

              sales
count   1000.000000
mean   19044.489000
std     5484.674161
min     6084.000000
25%    15628.000000
50%    17983.500000
75%    21612.500000
max    43775.000000

In [9]:
# Getting Unique Values in the region Column
print(df['region'].unique())

['North-West' 'North-East' 'South']

In [10]:
# Creating Your First Crosstab
tab = pd.crosstab(
    index=df['region'],
    columns=df['gender'],
)

print(tab)

gender      Female  Male
region
North-East     177   170
North-West     161   161
South          167   164

In [11]:
# Adding Values Using a Pandas Crosstab
tab = pd.crosstab(
    index=df['region'],
    columns=df['gender'],
    values=df['sales'],
    aggfunc='sum'
)

print(tab)

gender       Female     Male
region
North-East  3051132  2981835
North-West  2455899  2457091
South       4135688  3962844

While searching through the pandas documentation, you might come across the .max() method, which returns the maximum value for a given series. You can apply the method to the sales column, as shown below:

In [12]:
# Finding the highest sale value
print(df['sales'].min())

6084

Use the **.describe()** method to calculate some high level statistics and then access the ['75%'] value:

In [13]:
# Access the 75th percentile of the sales column

print(df['sales'].describe()['75%'])

21612.5

One way that you can find this out is by using a crosstab and finding the intersection between Female and South:

In [14]:
# Determining the number of sales made by women in South region
print(pd.crosstab(
    index=df['region'],
    columns=df['gender']
).loc['South', 'Female'])

167

Because the **.unique()** method returns a list, we can easily pass this list into the len() function to calculate the length of the list.

In [15]:
# Count the number of unique items in the region column
print(len(df['region'].unique()))

3