In [1]:
# The syntax of the .pivot_table() function
import pandas as pd
pd.pivot_table(
    data=,
    values=None, 
    index=None, 
    columns=None, 
    aggfunc='mean', 
    fill_value=None, 
    margins=False, 
    dropna=True, 
    margins_name='All', 
    observed=False,
    sort=True
)

SyntaxError: ignored

In [2]:
# Loading a Sample Pandas DataFrame
import pandas as pd
df = pd.read_excel('https://github.com/subaash1112/Assured-Data-Science-FS/blob/medium_data/sample_pivot.xlsx?raw=true', parse_dates=['Date'])
print(df.head())

        Date Region                 Type  Units  Sales
0 2020-07-11   East  Children's Clothing   18.0    306
1 2020-09-23  North  Children's Clothing   14.0    448
2 2020-04-02  South     Women's Clothing   17.0    425
3 2020-02-28   East  Children's Clothing   26.0    832
4 2020-03-19   West     Women's Clothing    3.0     33

In [ ]:
# Creating your first Pandas pivot table
pivot = pd.pivot_table(
    data=df,
    index='Region'
)
print(pivot)

             Sales      Units
Region
East    408.182482  19.732360
North   438.924051  19.202643
South   432.956204  20.423358
West    452.029412  19.294118

In [ ]:
# Aggreating Only A Single Column
pivot = pd.pivot_table(
    data=df,
    index='Region',
    values='Sales'
)

print(pivot)

             Sales
Region
East    408.182482
North   438.924051
South   432.956204
West    452.029412

In [ ]:
pivot = pd.pivot_table(
    data=df,
    index='Region',
    aggfunc=['mean', 'sum']
)

print(pivot)

              mean                sum
             Sales      Units   Sales   Units
Region
East    408.182482  19.732360  167763  8110.0
North   438.924051  19.202643  138700  4359.0
South   432.956204  20.423358   59315  2798.0
West    452.029412  19.294118   61476  2624.0

In [ ]:
pivot = pd.pivot_table(
    data=df,
    index='Region',
    aggfunc={'Sales': 'mean', 'Units': 'sum'}
)

print(pivot)

             Sales   Units
Region
East    408.182482  8110.0
North   438.924051  4359.0
South   432.956204  2798.0
West    452.029412  2624.0

In [ ]:
# Defining a custom function
import numpy as np
def mean_no_outliers(values):
    no_outliers = values.quantile([0.1, 0.9])
    mean = np.mean(no_outliers)
    return mean

In [ ]:
# Specifying custom functions in a Pandas pivot table
pivot = pd.pivot_table(
    data=df,
    index='Region',
    aggfunc=['mean', mean_no_outliers],
    values='Sales'
)

print(pivot)

              mean mean_no_outliers
             Sales            Sales
Region
East    408.182482            436.0
North   438.924051            484.5
South   432.956204            434.1
West    452.029412            497.0

In [ ]:
# Adding Columns to Our Pandas Pivot Table
pivot = pd.pivot_table(
    data=df,
    index='Region',
    columns='Type',
    values='Sales'
)

print(pivot)

Type    Children's Clothing  Men's Clothing  Women's Clothing
Region
East             405.743363      423.647541        399.028409
North            438.894118      449.157303        432.528169
South            412.666667      475.435897        418.924528
West             480.523810      465.292683        419.188679

In [ ]:
pivot = pd.pivot_table(
    data=df,
    index=['Region',df['Date'].dt.quarter],
    columns='Type',
    values='Sales'
)

print(pivot.head())

Type         Children's Clothing  Men's Clothing  Women's Clothing
Region Date
East   1              423.241379      369.250000        428.948718
       2              274.800000      445.425000        456.816327
       3              425.382353      506.421053        342.386364
       4              453.866667      405.666667        364.795455
North  1              394.727273      450.869565        489.944444

In [ ]:
# Accessing data in a multi-index pivot table
print(pivot.loc[('East', 1), "Men's Clothing"])

369.25

In [ ]:
# Adding totals to rows and columns
pivot = pd.pivot_table(
    data=df,
    index='Region',
    columns='Type',
    values='Sales',
    margins=True
)

print(pivot)

Type    Children's Clothing  Men's Clothing  Women's Clothing         All
Region
East             405.743363      423.647541        399.028409  408.182482
North            438.894118      449.157303        432.528169  438.924051
South            412.666667      475.435897        418.924528  432.956204
West             480.523810      465.292683        419.188679  452.029412
All              427.743860      444.257732        415.254717  427.254000

In [ ]:
# Renaming totals in a Pandas pivot table
pivot = pd.pivot_table(
    data=df,
    index='Region',
    columns='Type',
    values='Sales',
    margins=True,
    margins_name='Total'
)

print(pivot)

Type    Children's Clothing  Men's Clothing  Women's Clothing       Total
Region
East             405.743363      423.647541        399.028409  408.182482
North            438.894118      449.157303        432.528169  438.924051
South            412.666667      475.435897        418.924528  432.956204
West             480.523810      465.292683        419.188679  452.029412
Total            427.743860      444.257732        415.254717  427.254000

In [ ]:
# Renaming totals in a Pandas pivot table
pivot = pd.pivot_table(
    data=df,
    index='Region',
    columns='Type',
    values='Sales',
    margins=True,
    margins_name='Total'
)

print(pivot)

Type    Children's Clothing  Men's Clothing  Women's Clothing       Total
Region
East             405.743363      423.647541        399.028409  408.182482
North            438.894118      449.157303        432.528169  438.924051
South            412.666667      475.435897        418.924528  432.956204
West             480.523810      465.292683        419.188679  452.029412
Total            427.743860      444.257732        415.254717  427.254000

In [3]:
# Adding and seeing missing data in a Pandas pivot table
import numpy as np
df.loc[(df['Region'] == 'East') & (df['Type'] == "Children's Clothing"), 'Sales'] = np.NaN
 
pivot = pd.pivot_table(
    data=df,
    index='Region',
    columns='Type',
    values='Sales',
)
 
print(pivot)

Type    Children's Clothing  Men's Clothing  Women's Clothing
Region
East                    NaN      423.647541        399.028409
North            438.894118      449.157303        432.528169
South            412.666667      475.435897        418.924528
West             480.523810      465.292683        419.188679

In [4]:
# Filling Missing Values in a Pandas Pivot Table
import numpy as np
df.loc[(df['Region'] == 'East') & (df['Type'] == "Children's Clothing"), 'Sales'] = np.NaN

pivot = pd.pivot_table(
    data=df,
    index='Region',
    columns='Type',
    values='Sales',
    fill_value=0
)

print(pivot)

Type    Children's Clothing  Men's Clothing  Women's Clothing
Region
East               0.000000      423.647541        399.028409
North            438.894118      449.157303        432.528169
South            412.666667      475.435897        418.924528
West             480.523810      465.292683        419.188679

In [5]:
# Sorting a Pandas Pivot Table
pivot = pd.pivot_table(
    data=df,
    index='Region',
    values='Sales',
    sort=True
)

print(pivot)

             Sales
Region
East    409.107383
North   438.924051
South   432.956204
West    452.029412

In [6]:
# Generating a long pivot table
pivot = pd.pivot_table(
    data=df,
    index=['Region', df['Date'].dt.quarter],
    values='Sales'
)

print(pivot.head())

                  Sales
Region Date
East   1     400.293333
       2     451.696629
       3     391.857143
       4     380.338028
North  1     462.142857

In [7]:
print(pivot[pivot['Sales'] > pivot['Sales'].mean()])

                  Sales
Region Date
East   2     451.696629
North  1     462.142857
       2     442.034884
       3     447.200000
South  1     465.263158
       2     440.628571
West   1     475.000000
       3     444.884615
       4     466.209302

**Practise 1.3C4 **
**Solution**

Question 1 Answer

In [ ]:
#You can sort your pivot table, then use the .index accessor to access the last value (since data are sorted in ascending order).

pivot = pd.pivot_table(
    data=df,
    index='Region',
    values='Sales',
    sort=True
)

print(pivot.index[-1])

West

Question 2 Answer

It’s recommended to keep to numeric data types (such as integers and floats) in order to prevent columns from being converted to columns that can’t have mathematical operations applied to them. Because columns in Pandas are homogeneous, it’s important to keep in mind what might happen.

Question 3 Answer

Sometimes you may just want to have the column totals in your resulting DataFrame. Because of this, you can simply filter out the last row, using the negative index:

In [ ]:
pivot.loc[-1:,]